USE [master]
GO
/****** Object:  Database [Empleados]    Script Date: 29/10/2018 11:02:20 ******/
CREATE DATABASE [Empleados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empleados', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQL_UAI\MSSQL\DATA\Empleados.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Empleados_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQL_UAI\MSSQL\DATA\Empleados_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empleados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empleados]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 29/10/2018 11:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] NOT NULL,
	[NombApell] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[FechaNac] [date] NOT NULL,
	[Cuil] [varchar](50) NOT NULL,
	[Sueldo] [decimal](18, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
